<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
        <nav class="container">
            <p class="logo"><a href="#">Your logo</a></p>
            <p class="menuheader"><a href="#">Menu 1</a></p>
            <p class="menuheader"><a href="#">Menu 2</a></p>
            <p class="menuheader"><a href="#">Menu 3</a></p>
            <p class="menuheader"><a href="#">Menu 4</a></p>
            <img (click)="toggle=!toggle" class="menuicon" src="https://img.icons8.com/android/24/000000/menu.png">
        </nav>
          <div *ngIf="toggle" class="container600px">
              <p class="menu600px"><a href="#">Menu 1</a></p>
              <p class="menu600px"><a href="#">Menu 2</a></p>
              <p class="menu600px"><a href="#">Menu 3</a></p>
              <p class="menu600px"><a href="#">Menu 4</a></p>
          </div>
    </header>
    <body>
      <app-formulario></app-formulario>
    </body>
</html>

<router-outlet></router-outlet>
