<<<<<<< HEAD
table {
    border: 2.8px;
}

table tr td.preto {
    width: 70px;
    height: 70px;
    background-color: #000;
}

table tr td.branco {
    width: 70px;
    height: 70px;
    background-color: #bfbfbf;
=======
table {
    border: 2.8px;
}

table tr td.preto {
    width: 70px;
    height: 70px;
    background-color: #000;
}

table tr td.branco {
    width: 70px;
    height: 70px;
    background-color: #bfbfbf;
>>>>>>> ecf9548d6d91e7aab30ca5a2f07d87411ac32cd3
}