
  .linha {
    clear: both;
  }
  
  .linha div {
    float: left;
    width: 70px;
    height: 70px;
    border-left: 2.7px solid #fff;
    border-bottom: 2.7px solid #fff;
  }
  
  .branco {
    background-color: #bfbfbf;
  }

  .preto {
      background-color: #000;
  }
