<<<<<<< HEAD

  .linha {
    clear: both;
  }

  
  .linha div {
    float: left;
    width: 70px;
    height: 70px;
    border-left: 2.8px solid #fff;
    border-bottom: 2.8px solid #fff;
  }
  
  .branco {
    background-color: #bfbfbf;
  }

  .preto {
      background-color: #000;
  }
=======

  .linha {
    clear: both;
  }
  
  .linha div {
    float: left;
    width: 70px;
    height: 70px;
    border-left: 2.8px solid #fff;
    border-bottom: 2.8px solid #fff;
  }
  
  .branco {
    background-color: #bfbfbf;
  }

  .preto {
      background-color: #000;
  }
>>>>>>> ecf9548d6d91e7aab30ca5a2f07d87411ac32cd3
